<div class="content-wrapper">

    <section class="content-header">
        <h1>Settings<small>Optional description</small></h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Settings</a></li>
            <li class="active">Here</li>
        </ol>
    </section>

    <section class="content">

        <div class="row">
            <div class="col-md-12">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">Basic information</a></li>
                        <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">Translations</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <div class="row">
                                <div class="col-md-4">
                                    <h3>Login credentials</h3>

                                    <form role="form">
                                        <div class="form-group">
                                            <label for="exampleInputLogin">Login</label>
                                            <input type="text" class="form-control" id="exampleInputLogin" placeholder="Enter login" value="someuser@gmail.com" disabled>
                                        </div>

                                        <button type="submit" class="btn btn-primary pull-right">Reset password</button>
                                    </form>
                                </div>
                                <div class="col-md-4">
                                    <div>
                                        <h3>Invoice data</h3>
                                        <!-- form start -->
                                        <div ng-show="vm.updatedSuccessfully" class="alert alert-success">
                                            <span class="glyphicon glyphicon-ok-sign"></span>
                                            Invoice data updated successfully
                                        </div>
                                        <form role="form" ng-submit="vm.update()">
                                            <div class="form-group">
                                                <label for="invoiceEmail">Company name</label>
                                                <input type="text" class="form-control" id="invoiceEmail" placeholder="Enter company name" ng-model="vm.invoice.companyName">
                                            </div>

                                            <div class="form-group">
                                                <label for="taxNumber">NIP</label>
                                                <input type="text" class="form-control" id="taxNumber" placeholder="Enter NIP" ng-model="vm.invoice.taxNumber">
                                            </div>

                                            <div class="form-group">
                                                <label for="address">Address</label>
                                                <input type="text" class="form-control" id="address" placeholder="Enter address" ng-model="vm.invoice.address">
                                            </div>

                                            <div class="form-group">
                                                <label for="postalCode">Zip-code</label>
                                                <input type="text" class="form-control" id="postalCode" placeholder="Enter postal code" ng-model="vm.invoice.postalCode">
                                            </div>

                                            <div class="form-group">
                                                <label for="city">City</label>
                                                <input type="text" class="form-control" id="city" placeholder="Enter city" ng-model="vm.invoice.city">
                                            </div>

                                            <button type="submit" class="btn btn-primary pull-right" ng-disabled="vm.updating">Update</button>
                                        </form>
                                    </div>
                                </div>

                                <div class="col-md-4">

                                </div>
                            </div>
                        </div><!-- /.tab-pane -->
                        <div class="tab-pane" id="tab_2">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="box">
                                        <div class="box-header">
                                            <h3 class="box-title">9 phrases</h3>
                                            <div class="pull-right">
                                                <button class="btn btn-default btn-sm">Add new phrase</button>&nbsp;
                                                <button class="btn btn-default btn-sm">Add language</button>
                                            </div>
                                        </div><!-- /.box-header -->
                                        <div class="box-body table-responsive no-padding">
                                            <table class="table table-hover">
                                                <tbody><tr>
                                                    <th>PL</th>
                                                    <th>EN</th>
                                                    <th>DE</th>
                                                </tr>
                                                <tr>
                                                    <td>Przebieg</td>
                                                    <td>Milage</td>
                                                    <td><a href="#">add</a></td>
                                                </tr>
                                                <tr>
                                                    <td>Pojemność</td>
                                                    <td><a href="#">add</a></td>
                                                    <td><a href="#">add</a></td>
                                                </tr>
                                                <tr>
                                                    <td>Cena</td>
                                                    <td><a href="#">add</a></td>
                                                    <td><a href="#">add</a></td>
                                                </tr>
                                                <tr>
                                                    <td>Rocznik</td>
                                                    <td><a href="#">add</a></td>
                                                    <td><a href="#">add</a></td>
                                                </tr>
                                                <tr>
                                                    <td>Marka</td>
                                                    <td><a href="#">add</a></td>
                                                    <td><a href="#">add</a></td>
                                                </tr>
                                                <tr>
                                                    <td>Paliwo</td>
                                                    <td><a href="#">add</a></td>
                                                    <td><a href="#">add</a></td>
                                                </tr>
                                                <tr>
                                                    <td>Przebieg</td>
                                                    <td><a href="#">add</a></td>
                                                    <td><a href="#">add</a></td>
                                                </tr>
                                                <tr>
                                                    <td>Data produkcji</td>
                                                    <td><a href="#">add</a></td>
                                                    <td><a href="#">add</a></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div><!-- /.box-body -->
                                        <div class="box-footer clearfix">
                                            <ul class="pagination pagination-sm no-margin pull-right">
                                                <li><a href="#">«</a></li>
                                                <li><a href="#">1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#">»</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.tab-pane -->
                    </div>
                </div>
            </div>
        </div>
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->