<form class="form-horizontal" ng-submit="vm.save()">
  <div class="modal-header">
    <h3 class="modal-title">{{ vm.headerText }} beacon</h3>
  </div>
  <div class="modal-body">

    <h4 class="text-center">Beacon info</h4>

    <div class="form-group">
      <label for="uuid" class="col-sm-3 control-label">UUID</label>
      <div class="col-sm-9">
        <input ng-model="vm.beacon.uuid" class="form-control" name="uuid" type="text" required>
      </div>
    </div>

    <div class="form-group">
      <label for="major" class="col-sm-3 control-label">Major</label>
      <div class="col-sm-9">
        <input ng-model="vm.beacon.major" class="form-control" name="major" type="number" maxlength="5" required>
      </div>
    </div>

    <div class="form-group">
      <label for="minor" class="col-sm-3 control-label">Minor</label>
      <div class="col-sm-9">
        <input ng-model="vm.beacon.minor" class="form-control" name="minor" type="number" maxlength="5" required>
      </div>
    </div>

    <h4 class="text-center">Offer details</h4>

    <div class="form-group">
      <label for="title" class="col-sm-3 control-label">Title</label>
      <div class="col-sm-9">
        <input ng-model="vm.beacon.data.title" class="form-control" name="title" type="text" required>
      </div>
    </div>

    <div class="form-group">
      <label for="subtitle" class="col-sm-3 control-label">Subtitle</label>
      <div class="col-sm-9">
        <input ng-model="vm.beacon.data.subtitle" class="form-control" name="subtitle" type="text" required>
      </div>
    </div>

    <div class="form-group">
      <label for="content" class="col-sm-3 control-label">Content</label>
      <div class="col-sm-9">
        <textarea ng-model="vm.beacon.data.content" class="form-control" name="content" type="text" rows="3" required></textarea>
      </div>
    </div>

    <div class="form-group">
      <label for="detailsUrl" class="col-sm-3 control-label">Details Url</label>
      <div class="col-sm-9">
        <input ng-model="vm.beacon.data.detailsUrl" class="form-control" name="detailsUrl" type="text" required>
      </div>
    </div>

    <div class="form-group">
      <label for="imageUrl" class="col-sm-3 control-label">Image Url</label>
      <div class="col-sm-9">
        <input ng-model="vm.beacon.data.imageUrl" class="form-control" name="imageUrl" type="text" required>
      </div>
    </div>

    <h4 class="text-center">Offer template</h4>

    <div class="form-group">
      <label class="col-sm-3 control-label">Template</label>
      <label ng-repeat="templateType in vm.templateTypes" class="col-sm-3 text-center">
        <img ng-src="assets/images/{{templateType.image}}" class="img-template">
        <br>
        <input ng-model="vm.beacon.template.type" name="templateType" type="radio" value="{{templateType.value}}">
      </label>
    </div>

    <div class="form-group">
      <label for="titleColor" class="col-sm-3 control-label">Title color</label>
      <div class="col-sm-9">
        <input colorpicker colorpicker-parent="true" colorpicker-position="right" ng-model="vm.beacon.template.titleColor" ng-style="{'backgroundColor': vm.beacon.template.titleColor}" class="form-control" name="titleColor" type="text" required>
      </div>
    </div>

    <div class="form-group">
      <label for="subtitleColor" class="col-sm-3 control-label">Subtitle color</label>
      <div class="col-sm-9">
        <input colorpicker colorpicker-parent="true" colorpicker-position="right" ng-model="vm.beacon.template.subtitleColor" ng-style="{'backgroundColor': vm.beacon.template.subtitleColor}" class="form-control" name="subtitleColor" type="text" required>
      </div>
    </div>

    <div class="form-group">
      <label for="contentColor" class="col-sm-3 control-label">Content color</label>
      <div class="col-sm-9">
        <input colorpicker colorpicker-parent="true" colorpicker-position="right" ng-model="vm.beacon.template.contentColor" ng-style="{'backgroundColor': vm.beacon.template.contentColor}" class="form-control" name="contentColor" type="text" required>
      </div>
    </div>

    <div class="form-group">
      <label for="backgroundColor" class="col-sm-3 control-label">Background color</label>
      <div class="col-sm-9">
        <input colorpicker colorpicker-parent="true" colorpicker-position="right" ng-model="vm.beacon.template.backgroundColor" ng-style="{'backgroundColor': vm.beacon.template.backgroundColor}" class="form-control" name="backgroundColor" type="text" required>
      </div>
    </div>


  </div>
  <div class="modal-footer">
    <button class="btn btn-primary">Submit</button>
    <a class="btn btn-warning" ng-click="vm.dismiss()">Cancel</a>
  </div>
</form>