
<a ui-sref="dashboard.beacons.add" class="pull-right btn btn-success">
  <i class="glyphicon glyphicon-plus"></i> Add beacon
</a>

<div class="clearfix"></div>

<table class="table table-striped vert-align-cells mt-md">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Subtitle</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="beacon in vm.beacons">
      <td><img class="thumbnail" ng-src="{{ beacon.data.imageUrl }}" alt="{{ beacon.data.carModel }}"></td>
      <td>{{ beacon.data.title }}</td>
      <td>{{ beacon.data.subtitle }}</td>
      <td>
        <a ui-sref="dashboard.beacons.edit({id: beacon.id})" class="btn btn-info">
          <i class="glyphicon glyphicon-edit"></i> Edit
        </a>
        <a ng-click="vm.removeBeacon(beacon.id)" class="btn btn-danger">
          <i class="glyphicon glyphicon-remove"></i> Remove
        </a>
      </td>
    </tr>
  </tbody>
</table>
