.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 100px;

  img.pull-right {
    width: 50px;
  }
}

/**
 * Required to work with angular as some of elements relies on empty href attribute
 */
.nav, .pagination, .carousel, .panel-title, a { cursor: pointer; }

// injector
// endinjector
