@import (inline) "../../../node_modules/angular-loading-bar/src/loading-bar.css";

@spinner-color: #fff;

// customize spinner
#loading-bar-spinner .spinner-icon {
  border-top-color: @spinner-color;
  border-left-color: @spinner-color;
}

#loading-bar .bar {
  background: @spinner-color;
}

.content-wrapper {
  min-height: calc(~"100vh - 101px") !important;
}

.app-shape {
  width: 100px;
  height: 100px;
  padding: 10px;
}

.btn-upload {
  margin-bottom: 10px;
}

.line-shape {
  width: 200px;
  height: 150px;
  margin-top: 20px;
}

.line-span-desc {
  color: #333;
  margin-bottom: 20px;
}

.line-li {
  background: rgba(0, 0, 0, 0.12);
  border: 1px ridge rgba(0, 0, 0, 0.15);
  width: 50%;
  height: 350px;
  padding: 0 !important;
  margin: 0 !important;
}

.line-li.active {  
  background: white;
  border-bottom: 0;
}

.line-desc-shape {
  width: 100px;
  height: 135px;
  padding: 10px;
}